* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  
  border: 0;
  outline: 0;
  font-family: 'Agbalumo', sans-serif;
}

html{
  font-size: 65.2%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  min-height: 100vh;
  background-size: cover;
background-position: center;
}

.head {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: rgb(255, 252, 247);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0rem 10%;
box-shadow: 0 5px 30px #fdf1e2;
}

header .logo{
  color:#f09824;
  font-weight: 500;
  font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
  padding: 0 3%;
  transition: .5s;
}

header .logo:hover{
  letter-spacing: 0.3rem;
  transform: scale(1.1)
}

header .navbar ul{
display: flex;
}

header .navbar ul li{
  position: relative;
  float: left;
}

header .navbar ul li a{
  padding: 1.5rem;
  color: rgb(167, 79, 20);
  font-size: calc(12px +(18-12) * ((100vw - 300px) / (1600-300)));
  display: block;
  transition: .3s;
}

header .navbar ul li a:hover{
  background: #f09824;
  color: aliceblue;
}

header .navbar ul li ul{
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 18rem;
  background: rgb(255, 252, 247);
  color: rgb(167, 79, 20);
  display: none;
}

header .navbar ul li ul li{
  flex-direction: column;
  width: 100%;
  border: .1rem solid rgba(0, 0, 0, .1);
}

.navbar ul li:hover > ul{
  display: initial;
}

#menu {
  display: none;
}

header label{
  font-size: 2rem;
  color: black;
  cursor: pointer;
  display: none;
}

@media(max-width: 991px){
  header{
    padding: 2rem;
  }
  header label{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgb(255, 252, 247);
    border-top: .1rem solid rgba(0, 0, 0, .1);
    display: none;
  }

  header .navbar ul{
    flex-direction: column;
  }

  header .navbar ul li{
    flex-direction: column;
    width: 100%;
  }
  header .navbar ul li ul{
    position: relative;
    width: 100%;
  }

  #menu:checked ~ .navbar{
    display: initial;
  }

  label .fa-times{
    display: none;
  }

#menu:checked ~ label .fa-bars{
  display: none;
}

#menu:checked ~ label .fa-times{
  display: block;
}
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  min-height: 28rem;
padding: 2rem 8%;
}

.footer-top-container {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-top-container .left-side ul{
display: flex;
flex-direction: row;
}

.footer-top-container .left-side ul li {
  margin: 0rem 2rem;
}

.footer-top-container .left-side ul li a{
  color: black;
  font-size: 1.7rem;
}

.right-side {
display: flex;
align-items: center;
gap: 5rem;
}

.right-side ul li a {
  color: black;
  font-size: 1.7rem;
}

.footer-top-container button{
  display: inline-block;
  flex-direction: row;
  font-weight: 15rem;
  height: 5rem;
  background: #8ab3f1;
  border-radius: .5rem;
  color: #fff;
  font-size: 2rem;
  box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .5);
  cursor: pointer;
  padding: .5rem .5rem;
}

footer .line{
margin-top: 3.5rem;
width: 100%;
height: 0.1rem;
background: rgba(0, 0, 0, .1)
}

.footer-buttom-container{
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer-buttom-container .copyright{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.footer-buttom-container .copyright p{
  font-size: 1.5rem;
}

.footer-buttom-container .social-media-icons img{
  display: flex;
  align-items: center;
}

.footer-buttom-container .social-media-icons{
  
}

.media{
  height: 2.5%;
  width: 2.5%;
  margin: 0rem 0.5rem;
cursor: pointer;
}
